* {
    padding: 0;
    margin: 0;
}

body{
  background: url("../img/bg.png");
}

header{
  width: 100%;
  display: block;
  text-align: center;

  .head{
    background: url("../img/flags.png") 50% 50% no-repeat;
    width: 1024px;
    height: 177px;
    margin: 0 auto;
    text-align: justify;

    .logo-ozon{
      margin-top: 60px;
      margin-left: 350px;

    }

    .logo-dari{
      margin-top: 60px;
      margin-left: 100px;
    }

    .hot-line{
      margin-top: 20px;
      float: right;
      text-align: left;

    }

    span{

      @font-face {
        font-family: OpenSans-Semibold;
        src: url(../fonts/OpenSans-Semibold.ttf);
      }

      font-family: OpenSans-Semibold;
      color: #fff;
      font-size: 16px;
    }

    .number{

      @font-face {
        font-family: Open-Sans-Exstrabold;
        src: url(../fonts/Open-Sans-Exstrabold.ttf);
      }

      font-family: Open-Sans-Exstrabold;
      color: #fff;
      font-size: 24px;
    }

  }
}
.birthday{
  width: 940px;
  height: 530px;
  margin: 0 auto;
  text-align: center;

  .friend{
    width: 500px;
    height: 110px;
    margin: 45px auto;
    background: #fff;
    border-radius: 60px;

    img{
      float: left;
      border-radius: 50px;
      margin-left: 10px;
      margin-top: 7px;
    }

    div{
      text-align: left;

      @font-face {
        font-family: Open-Sans-Light;
        src: url(../fonts/Open-Sans-Light.ttf);
      }

      font-family: Open-Sans-Light;
      font-size: 28px;
      color: #333333;
      padding-top: 10px;
      float: right;
      margin-right: 30px;
    }
  }

  .wish{
    font-family: Open-Sans-Exstrabold;
    color: #ffff00;
    font-size: 64px;
  }

  .birthday-content{
    font-family: OpenSans-Semibold;
    font-size: 20px;
    color: #fff;

    .buy-now{
      width: 480px;
      height: 80px;
      border-radius: 50px;
      background: linear-gradient(to top,  #ff9900, #ffcc33);

      @font-face {
        font-family: Open-Sans-Bold;
        src: url(../fonts/Open-Sans-Bold.ttf);
      }

      font-family: Open-Sans-Bold;
      color: #fff;
      font-size: 28px;
      border: 1px solid #ff9900;
      box-shadow: 0 0.6em 10px rgba(000,000,000,0.2);
    }

    span{

      @font-face {
        font-family: Open-Sans;
        src: url(../fonts/Open-Sans.ttf);
      }

      font-family: Open-Sans;
      font-size: 16px;
    }
  }
}

.main{
  background: #fff;
  width: 1024px;
  //height: 2000px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 88px 88px 25px 25px;
  text-align: center;
  .right-image{
    float: right;

  }

  .left-image{
    float: left;
  }

  .why{
    font-family: Open-Sans-Bold;
    color: #ff9900;
    font-size: 44px;
  }
  .why-images{
    float: left;
    width: 180px;
    margin-top: 50px;
    margin-left: 65px;
    text-align: center;

    .images{
      width: 170px;
      height: 170px;
      line-height: 170px;
      background: linear-gradient(to top,  #fff, #ccffff);
      border-radius: 85px;
      box-shadow: 0 1.5em 20px rgba(000,000,255,0.2);
      margin-bottom: 40px;

      img{
        display: inline-block;
        vertical-align: middle;
        line-height: 1.25;

      }

      span{
        color: #333;
        font-size: 14px;
        font-style: Open-Sans;
      }
    }
  }
  .border-card{
    margin-top: 20px;
  }
  .card{
  //  height: 845px;
    position: relative;
    background: #33ccff - #111;
    margin-top: -5px;

    .look-like{
      font-size: 44px;
      font-family: Open-Sans-Bold;
      color: #fff;
    }

    img{
      margin-top: 20px;
    }

    .card-main{
      .congratulation{
        text-align: left;
        font-size: 14px;
        font-family: Open-Sans;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        margin: 250px 250px 0 0;
        strong{
          font-size: 16px;
        }
      }
    }
    div{
      table{
        margin: auto;
        text-align: left;
        color: #fff;
        font-family: Open-Sans;
        font-size: 15.03px;

        td{
          border-bottom: 1px solid #33ccff;
          padding: 10px;
          padding-right: 50px;
        }

        caption{
          font-family: Open-Sans-Bold;
          padding-bottom: 20px;
          text-align: center;
          font-size: 24.05px;
          border-bottom: 1px solid #33ccff;
        }
      }
    }
    .border-card-bottom{
      transform: scale(1, -1);
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: -5px;
    }

  }



  .how{
    height: 600px;
    span{
      font-size: 44px;
      font-family: Open-Sans-Bold;
      color: #ff9900;
    }
      .how-images{
        float: left;
        width: 250px;
        margin-top: 50px;
        margin-left: 75px;
        text-align: center;

        .image{
          margin: 0 auto;
          width: 170px;
          height: 170px;
          line-height: 170px;
          background: linear-gradient(to top,  #fff, #ccffff);
          border-radius: 85px;
          box-shadow: 0 1.5em 20px rgba(000,000,255,0.2);
          margin-bottom: 40px;

          img{
            display: inline-block;
            vertical-align: middle;
            line-height: 1.25;
          }


        }

        .text{
          .left{
            text-align: left;
          }
          font-style: Open-Sans;
          color: #333;
          font-size: 14px;

        }
      }
  }
  .sert{
    height: 770px;
    background: url("../img/bg-bott.png") 50% 50%;
    h1{
      font-size: 44px;
      font-family: Open-Sans-Bold;
      color: #ff9900;
    }
    .test-email, .test-link{
      margin-top: 30px;
      margin-left: 20px;
      width: 400px;
      height: 100px;
      border-radius: 50px;
      background: linear-gradient(to top,  #ff9900, #ffcc33);
      font-family: Open-Sans-Bold;
      color: #fff;
      font-size: 20px;
      border: 1px solid #ff9900;
      box-shadow: 0 0.6em 10px rgba(000,000,000,0.2);
    }
    .buy{
      margin-top: 225px;
      font-size: 44px;
      font-family: Open-Sans-Bold;
      color: #fff;
      form{
        margin-right: 200px;
        margin-top: 25px;
        float:right;
        select{
          width: 300px;
          height: 60px;
          border-radius: 100px;
          font-size: 28px;
          font-family: Open-Sans;
          color: #333;

        }

      }
      input{
        margin-right: 215px;
        float:right;
        margin-top: -125px;
        width: 300px;
        height: 60px;
        border-radius: 100px;
        font-size: 28px;
        font-family: Open-Sans;
        color: #fff;
        background: linear-gradient(to top,  #0099cc, #4499ff);
        border: 1px solid #0099cc;

      }
    }
  }
}

footer{
  width: 100%;
  text-align: center;
  bottom: 0;
  font-size: 14px;
  color: #fff;
  font-family: Open-Sans;
}

.online{
  background: #fff;
  width: 80px;
  border-radius: 30px 0 0 30px;
  position: fixed;
  float: right;
  right: 0;
  img{
    margin-left: 10px;
    margin-top: 5px;
  }

  div{
    margin-top: 20px;
    float: right;
    right: 0;
    font-size: 16px;
    font-family: Open-Sans;
    color: #0099cc;
    margin-right: -200px;
    a{
      color: #0099cc;
    }
  }
}

.online:hover{
  width: 225px;
  div{
    margin-right: 0;
  }
}


#wrap{
  display: none;
  opacity: 0.8;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
  background-color: rgba(1, 1, 1, 0.725);
  z-index: 100;
  overflow: auto;
}

#window{
  background-color: #ffcc99;
  width: 940px;
  height: 1300px;
  margin: 50px auto;
  display: none;
  z-index: 200;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 20px;
  .header{
    top: 0;
    background-color: #ff9900;
    width: 100%;
    height: 50px;
    border-radius: 20px 20px 0 0;
    .present{
      margin-top: 10px;
      margin-left: 10px;
      float: left;
      color: #fff;
      font-size: 18px;
      font-family: Open-Sans-Bold;
    }
    .num{
      float: right;
      margin-top: 10px;
      margin-right: 20px;
      color: #fff;
      font-size: 18px;
      font-family: Open-Sans-Bold;
    }
    .close{
      float: right;
      margin-top: 15px;
      margin-right: 15px;
      cursor: pointer;
    }
  }

  .logo{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
    font-family: Open-Sans;
    img{
      box-shadow: 0 0.6em 10px rgba(000,000,000,0.2);
      margin-bottom: 20px;
    }
    #price{
      color: #ff9900;
      font-size: 34px;
      font-family: Open-Sans-Bold;
    }
    .div-price{
      color: #ff9900;
      font-size: 18px;
      font-family: Open-Sans;
    }
  }

  .content{
    width: 760px;
    height: 1000px;
    background-color: #fff;
    float: right;
    text-align: center;

    .no-activ, .activ{
      float: left;
      margin-top: 25px;
      padding-top: 20px;
      width: 290px;
      height: 40px;
      font-size: 18px;
      @font-face {
        font-family: Open-Sans-Bold;
        src: url(../fonts/Open-Sans-Bold.ttf);
      }

      font-family: Open-Sans-Bold;

    }
    .activ{
      background: #ff9900;
      border-color: #ff9900 - #111;
      border-radius: 0 50px 50px 0;
      color: #fff;
    }
    .no-activ{
      margin-left: 100px;
      border-radius: 50px 0 0 50px;
      background:radial-gradient(#fff, #ccc);
      color: #ff9900;
    }
    .no-activ:hover{
      cursor: pointer;
    }
  }
}
